<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: head"></th:block>
    <title>All Items</title>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
    <th:block th:each="item:${allItems}">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a th:href="@{/detail/{id}(id=${item.getItemId()})}">
                    <img class="card-img-top" th:src="${item.itemPicture1}" alt="No picture added">
                </a>
                <div class="card-body">
                    <h4 class="card-title" th:text="${item.itemName}">
                    </h4>
                    <h5></h5>
                    <p class="card-text" th:text="*{item.itemDescription}"></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="'Date found:' + ${item.itemFoundDate}"></small>
                </div>
            </div>
        </div>
    </th:block>

</div>
<th:block th:replace="base :: footer"></th:block>
<th:block th:replace="base :: javascript"></th:block>

</body>
</html>