<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: head"></th:block>
    <title>All Items</title>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
        <div class="col-lg-4 col-md-6 mb-4">
            <th:block th:each="item:${allItems}">
                <div class="card">
                <a th:href="@{/detail/{id}(id=${item.getItemId()})}"><img class="card-img-top" th:src="${item.itemPicture1}" alt=""></a><img class="card-img-top" th:src="${item.itemPicture1}" alt=""></a>
                <div th:remove="tag" th:utext="${item.itemPicture1}"></div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detail/{id}(id=${item.getItemId()})}" th:text="${item.itemName}"></a>
                    </h4>
                    <h5 th:text="'Found at ' + ${item.itemFoundLocation} +' on ' + ${item.itemFoundDate}"></h5>
                    <p class="card-text" th:text="*{item.itemDescription}"></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="'Item location: ' +${item.itemLocation}"></small>
                </div>
            </div>
            </th:block>
        </div>

</div>
<th:block th:replace="base :: footer"></th:block>
<th:block th:replace="base :: javascript"></th:block>

</body>
</html>